@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* Prevent browser dark mode overrides */
:root {
  color-scheme: light;
}

/* Force all backgrounds and text to your light theme */
html, body {
  background-color: #ffffff !important;
  color: #000000 !important;
}

/* Optional – reset all elements that might flip in dark mode */
*, *::before, *::after {
  background-color: inherit;
  color: inherit;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "'Airbnb Cereal VF'",
          'Circular',
          '-apple-system',
          'BlinkMacSystemFont',
          'Roboto',
          '"Helvetica Neue"',
          'sans-serif',
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;    
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;            
}

